<!-- Name: Gabby Johnson
# Course: CSC 415
# Semester: Fall 2017
# Instructor: Dr. Pulimood 
# Project name: PresPrice
# Description: The app is intended to provide the cheapest price of a medicine to users
# Filename: index.html.erb
# Description: To provide search results for searched medicine
# Last modified on: 11/10/17 -->
<div class="main">
  <div class="container">
    <div id = "search_home">

<div id = "nav">
  <a href = "search">Search</a>
  <a href = "savedsearches">Saved Searches</a>
  <a href = "home">Log Out</a>
</div>
    	<h1>Results for: Tylenol</h1>
<table>

  <tr style="background-color:blue; text-align:center; color:white;" >
    <td>CVS</td>
    <td>Walmart</td>
    <td>Rite Aid</td>
  </tr>
  <tr style="background-color:white; text-align:center">
     <td>$46</td>
    <td>$53</td>
    <td>$49</td>
  </tr>
  <tr style="background-color:#C2F3FF; text-align:center">
     <td>Location</td>
    <td>Location</td>
    <td>Location</td>
  </tr>
</table>

<div id ="generic">

</div>
   <a href = "genericone"><p style = "font-size:20px color:white">Generic Alternative: Generic1</p></a>
	</div>
    </div>
  </div>
</div>