<!-- Name: Gabby Johnson
# Course: CSC 415
# Semester: Fall 2017
# Instructor: Dr. Pulimood 
# Project name: PresPrice
# Description: The app is intended to provide the cheapest price of a medicine to users
# Filename: searchbar.html.erb
# Description: To allow the user to search for two medicines
# Last modified on: 11/10/17 -->

<div class="main">
  <div class="container">
    <div id = "search1-home">
  <div id = "nav">

   <a href = "home">Log Out</a>
</div>

    	<h1>PresPrice</h1>
    <div id = "search">
    	<%= form_tag(home_path method: :get) do %>
  		Medicine <%= text_field_tag :medicine_price %>
  		<!--<%= submit_tag 'Search' %>-->
      <a href = "results">Search</a>
		<% end %>
	</div>

<div style = "text-align:center">
  <a href = "searchtwo">Search multiple medicines</a>
</div>
    </div>
  </div>
</div>