<!-- Name: Gabby Johnson
# Course: CSC 415
# Semester: Fall 2017
# Instructor: Dr. Pulimood 
# Project name: PresPrice
# Description: The app is intended to provide the cheapest price of a medicine to users
# Filename: generic2.html.erb
# Description: To provide information on generic price of second searched medicine
# Last modified on: 11/10/17 -->

<div class="main">
  <div class="container">
    <div id = "search_home">

<div id = "nav">
  <a href = "search">Search</a>
  <a href = "savedsearches">Saved Searches</a>
  <a href = "home">Log Out</a>
</div>
    	<h1>Results for: Generic</h1>
<table>

  <tr style="background-color:blue; text-align:center; color:white;" >
    <td>CVS</td>

  </tr>
  <tr style="background-color:white; text-align:center">
     <td>$30</td>

  </tr>
  <tr style="background-color:#C2F3FF; text-align:center">
     <td>Location</td>

  </tr>
</table>


  </div>
</div>